// ===================================================== [ Home ] =====================================================
.parallax__content.home{
    .mainpost{
        margin-bottom: 200px;
        padding: 40px;
        padding-top: 200px;
        // width: 1500px;
        width: 100%;
        height: 500px;
        border-radius: 20px;
        background: #f5f5f5;


        .mainpost-title{
            position: relative;
            margin-bottom: 50px;
            width: 200px;
            font-size: 30px;
            font-weight: bold;
    
            &::after{
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                height: 5px;
                width: 100%;
                border-radius: 2px;
                background-color: $footer-color;
                transform-origin: left; 
                transform: scaleX(0); 
                transition: .5s;
            }
    
            &.active{
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    
        .mainpost-content{
            width: 100%;
            height: 100%;
            position: relative;
    
            //ant-d
            .ant-card{
                @include pos-center-y;   
                transform: translateX(5%) translateY(-120%);
                z-index: 1; 

                .ant-card-cover{
                    width: 300px;
                    height: 200px;
        
                    img{
                        height: 100%;
                        object-fit: cover
                    }
                }
            }
    
            .mainpost-textBox{
                @include pos-center-y;
                right: 0;
                padding: 10px;
                padding-top: 50px;
                width: 100%;
                height: 100%;
                background: #fff;
                box-shadow: 5px 6px 30px 2px rgb(62 58 58 / 12%);
    
                h2{
                    font-size: 19px;
                    font-weight: bold;
                }
    
                p{
                    color: #000;
                }
    
    
                span{
                    color: #969696;
                }
            }
        }


        @include responsive(T){
            padding-top: 40px;
            background-color: transparent;

            .mainpost-content{
                .ant-card{
                    transform: translateY(-50%) translateX(10%);

                    .ant-card-cover{
                        width: 300px;
                        height: 200px;
                    }
                }


                .mainpost-textBox{
                    padding: 54px 40px 54px 200px;
                    height: 90%;
                    width: 80%;
                }
            }
        }

        @include responsive(D){
            .mainpost-content{
                .ant-card{
                    transform: translateY(-30%) translateX(100%);
                    z-index: -1;

                    .ant-card-cover{
                        width: 700px;
                        height: 500px;
                        border-radius: 0
                    }
                }

                .mainpost-textBox{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    transform: translate(-20%, -30%);

                    h2{
                        max-width: 800px;
                        font-size: 3rem;
                    }
    
                    p{
                        max-width: 500px;
                        font-size: 15px;
                    }

                    span{
                        position: relative;

                        &::before{
                            content:"";
                            position: absolute;
                            bottom: -500%;
                            right: -300%;
                            height: 100px;
                            width: 80px;
                            background-color: #f8f8f8;
                            clip-path: ellipse(17% 54% at 47% 54%);
                            z-index: -1;
                        }

                        &::after{
                            content:"";
                            position: absolute;
                            bottom: -500%;
                            right: -340%;
                            height: 100px;
                            width: 80px;
                            background-color: #f8f8f8;
                            clip-path: ellipse(17% 54% at 47% 54%);
                            z-index: -1;
                        }
                    }

                    &::before{
                        content:"";
                        position: absolute;
                        top: 2%;
                        left:15%;
                        height: 100px;
                        width: 80px;
                        background-color: #f8f8f8;
                        clip-path: ellipse(17% 54% at 47% 54%);
                        z-index: -1;
                    }

                    &::after{
                        content:"";
                        position: absolute;
                        top: 2%;
                        left:10%;
                        height: 100px;
                        width: 80px;
                        background-color: #f8f8f8;
                        clip-path: ellipse(17% 54% at 47% 54%);
                        z-index: -1;
                    }
                }

            }
        }
    }
}

// ===================================================== [ Post ] =====================================================
.parallax__content.post{
    .mainpost{
        @include column-flexbox;
        position: relative;
        margin-top: 300px;
        // width: 1500px;
        width: 100%;
        pointer-events: none;

        //ant-d
        .ant-card{
            width: 300px;
            height: 150px;
        }

        .mainpost-textBox{
            @include pos-center-y;
            top: -40%;

            h2{
                color: #fff;
                font-size: 2rem;
            }

            p{
                display: none;
            }

            span{
                color: #969696;
                font-size: 10px;
            }
        }

        .mainpost-title{
            display: none;
        }


        @include responsive(T){
            .ant-card{
                width: 700px;
                height: 350px;
            }

            .mainpost-textBox{
                top: -30%;
    
                h2{
                    font-size: 3rem;
                }
    
    
                span{
                    font-size: 20px;
                }
            }
        }

        @include responsive(D){
            max-width: 1500px;

            .ant-card{
                width: 800px;
                height: 450px;
            }

            .mainpost-textB{
                top: -20%;
            }
        }
    }
}

